.clubs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.clubs .club {
	width: 25%;
	padding: 1rem;
}

.clubs .club .card .card_header .club_logo {
	width: 30%;
	margin-top: -3.5rem;
	padding-bottom: 1rem;
}

.clubs .club .card {
	height: 100%;
}

a.card {
	text-decoration: none;
}

.card {
	display: flex;
	flex-direction: column;
	background: rgb(245, 245, 245);
	border: 1px solid rgb(177, 177, 177);
}

.card .card_backdrop {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgb(177, 177, 177);
	height: 8rem;
}

.card .card_header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1rem;
	color: #000;
}

.card .card_header h2 {
	margin-top: 0;
	margin-bottom: 0.4rem;
}

.card .card_header p {
	margin: 0;
}
